<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>{assigns[:page_title] || "GameReport"}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-purple-bg min-h-screen" hx-boost="true">
    {@inner_content}
    
    <!-- HTMX Extensions -->
    <script>
        // HTMX 설정
        htmx.config.responseHandling = [
            {code:"204", swap: false},
            {code:"[23]..", swap: true},
            {code:"[45]..", swap: false, error:true}
        ];
    </script>
  </body>
</html>
